.logo {
    width: 65px;
    height: 60px;
    margin: 20px auto 0;
    border-radius: 10%;
    background: url("/assets/kpems/logo1.png") no-repeat;
    background-size:cover;
  }
  label{
      padding:10px;
      color:#488aff;
  }
 
  .login-block{
    background-color: #ecf0f5  ;

  background-size:cover;
    width: auto;
    height: 750px;
  }
  .a{
   
    background: url('/assets/kpems/bg.jpg') no-repeat; background-size:cover;
    border: 0.5px solid #C4DFE6;
  }
  