.mat-radio-button ~ .mat-radio-button {
    padding-right: 16px;
  }
  table {
    width: 100%;
  }
 .header{
  font-weight: bold;color:#007bff
  }
  .table td, .table th{
    padding: none !important;
  }