<div class="page-body">
  <div class="row">
    <div class="col-sm-6">

      <app-card [title]="'Site Analytics'" [classHeader]="'true'" [headerClass]="'borderless'">
        <span class="code-header">
          <span class="text-muted">For more details about usage, please refer
            <a href="https://www.amcharts.com/online-store/" target="_blank">amCharts</a> licences.</span>
        </span>
        <div id="seo-ecommerce-barchart" style="height: 380px"></div>
      </app-card>


    </div>
    <div class="col-sm-6">
      <!-- Bootstrap slider card start -->
      <div class="card">
        <div class="card-header">
          <h5>Bootstrap slider - FadIn FadOut</h5>
        </div>
        <div class="card-block" style="height: 445px;">
          <ngb-carousel>
            <ng-template ngbSlide>
              <img src="\assets\kpemsimages\civile1.jpg" alt="Random first slide"style="height: 420px;">
              <div class="carousel-caption">
               
              </div>
            </ng-template>
            <ng-template ngbSlide>
              <img src="\assets\kpemsimages\civile5.jpg"  alt="Random second slide"style="height: 420px;">
              <div class="carousel-caption">
                
              </div>
            </ng-template>
            <ng-template ngbSlide>
              <img src="\assets\kpemsimages\civile4.jpg" alt="Random third slide"style="height: 420px;">
              <div class="carousel-caption">
                
              </div>
            </ng-template>
            <ng-template ngbSlide>
              <img src="\assets\kpemsimages\civile2.jpg" alt="Random third slide"style="height: 420px;">
              <div class="carousel-caption">
                 
              </div>
            </ng-template>
          </ngb-carousel>
        </div>
      </div>
      <!-- Bootstrap slider card end -->
    </div>



  </div>
</div>

<div class="row">
  <div class="col-xl-9 col-md-6" style="padding: 0px;">

    <div class="col-xl-4 col-md-6">
      <div class="card shake ">
        <div class="card-block boxe" style=" background:linear-gradient(to bottom right,#095ee8,#2faee0); box-shadow:0px 5px 4px 5px #f8f8f8">
          <div class="row align-items-center ">
            <div class="col-8">

              <h5 class="p-b-5 b-b-default f-w-600" style="width:250px;color:#FFF; text-align: center;">Today Project Team Attendance</h5>


              <h4 class="text-c-yellow">100%</h4>


              <p class="m-b-10 f-w-600 wit">Total Team Member - 15</p>
              <p class="m-b-10 f-w-600 wit">Total member Present - 15</p>
              <p class="m-b-10 f-w-600 wit">Late to Work - 03</p>


            </div>
            <div class="col-4 text-right ">
              <p id="total-value-graph-1" style="height:100px;"></p>

            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="col-xl-4 col-md-6">
      <div class="card shake">
        <div class="card-block boxe" style=" background:linear-gradient(to bottom right,#409D54, #4EBF4C); box-shadow:0px 5px 4px 5px #f8f8f8">
          <div class="row align-items-center">
            <div class="col-8">

              <h5 class="m-b-20 p-b-5 b-b-default f-w-600" style="width:250px;color:#FFF;text-align:center;">Total Labor Attendance</h5>
           
              <h4 class="text-c-bule">92.5%</h4>
              <p class="m-b-10 f-w-600 wit" style="padding: 5px;">Total Request Labor - 64</p>
              <p class="m-b-10 f-w-600 wit" style="padding: 5px;">Total Labor Present - 54</p>

             
            </div>
            <div class="col-4 text-right ">
              <p id="total-value-graph-3" style="height:100px;"></p>
             
            </div>
          </div>
        </div>

      </div>
    </div>


    <div class="col-xl-4 col-md-6">
      <div class="card shake">
        <div class="card-block boxe" style=" background:linear-gradient(to bottom right,#c62219,#872e2e ); box-shadow:0px 5px 4px 5px #f8f8f8">
          <div class="row align-items-center">
            <div class="col-8">

              <h5 class="m-b-20 p-b-5 b-b-default f-w-600" style="width:250px;color: #FFF;text-align: center;">Machinery</h5>
             
              <p class="m-b-10 f-w-600 wit" style=" width: 250px">NO of Machinery - 08 No's</p>
              <p class="m-b-10 f-w-600 wit" style=" width: 250px">NO of Machinery at Work- 05 No's</p>
              <p class="m-b-10 f-w-600 wit" style=" width: 300px">NO of Machinery in Maintanance- 01 No's</p>
              <p class="m-b-10 f-w-600 wit" style=" width: 250px">NO of Machinery not in Work- 02 No's</p>

            </div>
            <div class="col-4 text-right ">

              <img src="\assets\kpemsimages\trucking.png" class="img-responsive" alt="Cinque Terre" width="70" height="80px">
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="col-xl-4 col-md-6">
      <div class="card shake">
        <div class="card-block boxe" style=" background:linear-gradient(to bottom right,#ff6347,#F8C639); box-shadow:0px 5px 4px 5px #f8f8f8">
          <div class="row align-items-center">
            <div class="col-8">
              <h5 class="m-b-20 p-b-5 b-b-default f-w-600" style="width:250px;color: #FFF;text-align: center;">Material</h5>
             

              <p class="m-b-10 f-w-600 wit" style=" width: 250px">Material Received -03 IOM</p>
              <p class="m-b-10 f-w-600 wit" style=" width: 250px">Material Issued -45 IOM</p>
              <p class="m-b-10 f-w-600 wit" style=" width: 300px">Material Indent -03 IOM</p>
              <p class="m-b-10 f-w-600 wit" style=" width: 250px">Low Stack -04 IOM</p>


            </div>
            <div class="col-4 text-right ">
              <img src="\assets\kpemsimages\brick.png" class="img-responsive" alt="Cinque Terre" width="70" height="80px">
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="col-xl-4 col-md-6 ">
      <div class="card shake">
        <div class="card-block boxe" style=" background:linear-gradient(to bottom right,#824acd, #997af8); box-shadow:0px 5px 4px 5px #f8f8f8">
          <div class="row align-items-center ">
            <div class="col-8">

              <h5 class="m-b-20 p-b-5 b-b-default f-w-600" style="width:250px;text-align: center;color:#FFF">Yesterday Work Report</h5>
              <p class="m-b-10 f-w-600 wit">Approval -26 No's POW</p>
              <p class="m-b-10 f-w-600 wit">Pending -42 No's POW</p>
              <p class="m-b-10 f-w-600 wit">Defictive -10 No's POW</p>


            </div>
            <div class="col-4 text-right ">

              <img src="\assets\kpemsimages\hotel.png" class="img-responsive" alt="Cinque Terre" width="70" height="80px">
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="col-md-6 col-xl-4 ">

      <div class="card statustic-card ">
        <div class="card-block boxe" style="background-image: url('http://localhost:4200/assets/kpemsimages/9832.jpg')">
          <h4 class="m-b-20 p-b-5 b-b-default f-w-600 wit">Project Butget Position</h4>
          <div class="row">
            <div class="col-sm-6">
              <p class="m-b-10 f-w-600 wit" style="padding: 5px;">Total value of Project</p>

            </div>
            <div class="col-sm-6">
              <p class="m-b-10 f-w-600 wit" style="padding: 5px;">Rs 99,00,00,00,0</p>

            </div>
          </div>

          <div class="row">
            <div class="col-sm-6">
              <p class="m-b-10 f-w-600 wit" style="padding: 5px;width: 250px">Complited Work Till Date</p>

            </div>
            <div class="col-sm-6">
              <p class="m-b-10 f-w-600 wit" style="padding: 5px;">Rs 10,00,00,00,00</p>

            </div>
          </div>

          <div class="row">
            <div class="col-sm-6">
              <p class="m-b-10 f-w-600 wit" style="padding: 5px;">Balance Work</p>

            </div>
            <div class="col-sm-6">
              <p class="m-b-10 f-w-600 wit" style="padding: 5px;">Rs 89,00,00,00,0</p>

            </div>
          </div>

        </div>

      </div>
    </div>
    <div class="col-xl-4 col-md-6">
      <div class="card  ">
        <div class="card-block boxe">
          <div class="row align-items-center">
            <div class="col-8">
              <h5 class="m-b-20 p-b-5 b-b-default f-w-600" style="width:270px;  text-align: center;">Draft R.A BillPending for Approval</h5>
            
              <div> </div>

              <span class="d-block text-c-yellow f-36 num">42</span>

            </div>
            <div class=" ">

              <img src="\assets\kpemsimages\invoice.png" class="img-responsive" alt="Cinque Terre" width="70" height="80px" style=" margin-top: 50px;">
            </div>
          </div>
        </div>
        <div class="card-footer bg-c-yellow">

        </div>
      </div>
    </div>

    <div class="col-xl-4 col-md-6">
      <div class="card ">
        <div class="card-block boxe">
          <div class="row align-items-center">
            <div class="col-8">
              <h5 class="m-b-20 p-b-5 b-b-default f-w-600" style="width:270px; text-align: center;">Today Pending Task</h5>
       
              <div> </div>
              <span class="d-block text-c-red f-36 num">15</span>

            </div>
            <div class=" ">
             
              <img src="\assets\kpemsimages\contract.png" class="img-responsive" alt="Cinque Terre" width="70" height="80px" style="margin-top: 40px;">

            </div>
          </div>
        </div>
        <div class="card-footer bg-c-yellow">

        </div>
      </div>
    </div>
    <div class="col-xl-4 col-md-6">
      <div class="card ">
        <div class="card-block boxe ">
          <div class="row align-items-center" style="padding: 11px;">
            <div class="col-8">
              <h5 class="m-b-20 p-b-5 b-b-default f-w-600" style="width:270px; text-align: center;">Today Project Task</h5>
            
              <span class="d-block text-c-green f-36 num">15</span>

            </div>
            <div class=" ">


              <img src="\assets\kpemsimages\file.png" class="img-responsive" alt="Cinque Terre" width="70" height="80px" style="margin-top: 40px;">

            </div>
          </div>
        </div>
        <div class="card-footer bg-c-red">

        </div>
      </div>
    </div>

  </div>
  <div class="col-xl-3 col-md-6">

    <div class="card">
      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Type of chart
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li>
            <a href="#">HTML</a>
          </li>
          <li>
            <a href="#">CSS</a>
          </li>
          <li>
            <a href="#">JavaScript</a>
          </li>
        </ul>
      </div>
      <app-card [title]="'Bar chart'" [headerContent]="'Lorem ipsum dolor sit amet, consectetur adipisicing elit'">

        <chart [type]="type1" [data]="data1" [options]="options" style="width: 100%; height: 390px;"></chart>
      </app-card>

    </div>



  </div>




</div>

<div class="page-body">
  <div class="row">


    <div class="col-xl-6 col-md-">
      <div class="card user-card-full">
        <div class="row m-l-0 m-r-0">




        </div>
      </div>
    </div>

  </div>

</div>