<app-card [title]="'Assign Manpower'">
<div class="row">
  <div class="col-sm-3">
    <mat-form-field>
      <mat-select [(ngModel)]="assignManpower.Customer" (ngModelChange)="getArea()" placeholder="Customer Name">
        <mat-option *ngFor="let customer of customerData" [value]="customer">
          {{customer.CustomerName}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="col-sm-3">
    <mat-form-field>
      <mat-select [(ngModel)]="assignManpower.BranchId" (ngModelChange)="getSite()" placeholder="Area">
        <mat-option *ngFor="let area of areaData" [value]="area.BranchId">
          {{area.BranchName}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="col-sm-3">
    <mat-form-field>
      <mat-select [(ngModel)]="assignManpower.SiteId" (ngModelChange)="getClassification()" placeholder="Site">
        <mat-option *ngFor="let site of siteData" [value]="site.SiteId">
          {{site.SiteName}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="col-sm-3">
    <mat-form-field>
      <mat-select [(ngModel)]="assignManpower.ClassificationId" (ngModelChange)="getService()" placeholder="Classification">
        <mat-option *ngFor="let classification of classificationData" [value]="classification.ClassificationId">
          {{classification.ClassificationName}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
<div class="row" style="margin-top:2%">
  <div class="col-sm-3">
    <mat-form-field>
      <mat-select [(ngModel)]="assignManpower.ServiceId" (ngModelChange)="getManpower()" placeholder="Service">
        <mat-option *ngFor="let service of serviceData" [value]="service.ServiceId">
          {{service.Service}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="col-sm-3">
    <mat-form-field>
      <mat-select placeholder="Select a Manpower" [(ngModel)]="selectedManpower" multiple>
        <mat-option *ngFor="let manpower of manpowerData" [value]="manpower">{{manpower.ManPowerName}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="col-sm-6" style="text-align:right">
    <button mat-raised-button (click)="addAssignManpower()" color="primary">Save</button>&nbsp;
    <button mat-raised-button (click)="onClear()" color="accent">Clear</button>
  </div>
</div>

<hr>
<br>
<div class="row">
  <div class="col-sm-12">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Area</th>
          <th scope="col">Site</th>
          <th scope="col">Classification</th>
          <th scope="col">Service</th>
          <th scope="col">Employee Name</th>
          <th scope="col">Action</th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let mapower of assignManpowerData"> 
          <td>{{mapower.BranchName}}</td>
          <td>{{mapower.SiteName}}</td>
          <td>{{mapower.ClassificationName}}</td>
          <td>{{mapower.ServiceName}}</td>
          <td>{{mapower.ManPowerName}}</td>
          <td>
            <i color="warn" style="color:red;cursor: pointer;" (click)="removeAssignManpower(manpower)" class="material-icons">delete_forever</i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
</app-card>